* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
}

body {
  background-color: #fafafa;
  font-family: "Noto Sans", Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3 {
  font-family: Montserrat, Arial, sans-serif;
  padding-bottom: 2%;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-size: 1.9rem;
}

a:link,
a:visited {
  color: #2196f3;
  text-decoration: none;
  transition: color 0.5s;
}

nav,
main,
footer {
  width: 100%;
}

nav {
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
}

.nav-container {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
}

.menu {
  align-items: center;
  display: flex;
}

.menu-item {
  list-style-type: none;
  display: inline-block;
  padding: 40px;
}
.menu-item a {
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s;
  position: relative;
}
.menu-item a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #2196f3;
  opacity: 0;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
}

.menu-item a:hover::after,
.menu-item a.menu-item_active::after {
  height: 4px;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .menu-items {
    position: fixed;
    top: 72px;
    left: 100vw;
    background: #f5f5f5;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out, left 0.5s ease-in-out, padding-left 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out, left 0.5s ease-in-out, padding-left 0.5s ease-in-out; }

.photo-container {
  display: block;
  width: 100%;
  height: 100vh;
  background: url("../img/macbook.jpeg") no-repeat;
  background-size: cover;
  position: relative;
}

.caption-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.caption {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2%;
}
.caption h1 {
  color: #2196f3;
}

.container {
  font-size: 1.8rem;
  max-width: 1140px;
  margin: 0 auto;
  padding: 10vw 0;
  border-bottom: 1px solid #2196f3;
}
.container p {
  padding-bottom: 25px;
  line-height: 1.6;
}

.fade-hidden {
  position: relative;
  right: 20px;
  opacity: 1;
}

  @media screen and (max-width: 1140px) {
  .container, .caption-container {
    padding-left: 2%;
    padding-right: 2%; }

  .caption h1 {
    margin-top: 0.27em;
    margin-bottom: 0.27em; } }
@media screen and (max-width: 460px) {
  .container {
    padding: 28vw 2%; } }
.fade-hidden {
  position: relative;
  right: 20px;
  opacity: 1; }
  
#bio,
#contact {
  background-color: #2196f3;
  color: #fff;
}

.container.bio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bio-portrait {
  max-width: 23.33%;
}
.bio-portrait img {
  border-radius: 50%;
  width: 100%;
}

.bio-text {
  padding-left: 60px;
  max-width: 65%;
}

  @media screen and (max-width: 768px) {
  .container.bio {
    flex-direction: column;
    flex-wrap: wrap; }

  .bio-portrait {
    max-width: 50%; }

  .bio-text {
    padding-left: 0;
    max-width: 100%; } }
  
.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  margin-bottom: 2%;
  border-radius: 2px;
  background-color: white;
  text-align: center;
  padding: 2%;
}

.skills {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill {
  max-width: 31.33%;
}

.skill-description {
  word-wrap: break-word;
}
.skill-description p {
  font-size: 1.6rem;
}
.skill-description h3 {
  color: #000;
  padding-bottom: 5px;
}

.icon img {
  max-width: 100px;
}

  @media screen and (max-width: 768px) {
  .skill {
    max-width: 48%; } }
@media screen and (max-width: 460px) {
  .skill {
    max-width: 100%; } }
  
.projects {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1140px;
}

.project {
  max-width: 40%;
}

.project-description {
  padding-top: 20px;
  word-wrap: break-word;
}
.project-description p {
  font-size: 1.6rem;
}
.project-description h3 {
  color: #000;
  padding-bottom: 5px;
}

.project-image img {
  max-width: 100%;
}

.button {
  padding: 20px;
  font-weight: 700;
}

.button a {
  display: inline-block;
  padding: 20px;
  color: #fff;
  background-color: #2196f3;
  text-decoration: none;
  transition: background-color 0.5s;
}
.button a:hover,
.button a:active {
  background-color: #757575;
  color: #fff;
}

#portfolio .container {
  border-bottom: none;
}

  @media screen and (max-width: 768px) {
  .project {
    max-width: 100%; } }
.contact-text {
  padding-top: 20px; }
  
.form {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding-left: 100px;
}
.form__submit,
.form__input,
.form__textarea {
  min-width: 350px;
  border: none;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}
.form__input,
.form__textarea {
  margin-bottom: 15px;
  padding: 15px 10px;
}
.form__input:focus,
.form__textarea:focus {
  outline-color: #dd3e18;
}
.form__submit {
  padding: 10px 0;
  background-color: #dd3e18;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.form__submit:hover {
  background-color: #982b11;
  animation: hover 1200ms linear 2 alternate;
}

.form__file {
  margin-bottom: 15px;
}
.form__file__label {
  color: #dd3e18;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
}
.form__file__label:hover {
  color: #982b11;
}
.form__file__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

  @media screen and (max-width: 768px) {
  .form {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    margin-top: 15px;
    margin-left: 0;
    padding-left: 0; }
    .form__submit, .form__input, .form__textarea {
      min-width: 0; } }
@media screen and (max-width: 375px) {
  .form {
    grid-column: 1 / -1;
    grid-row: 4 / 5; } }

  
.footer {
  display: grid;
  padding: 100px 200px;
  background: linear-gradient(to bottom right, #2196f3, #2196f3);
}
.footer__title {
  padding-bottom: 30px;
}
.footer__description {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: justify;
}
.footer__links {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding: 0;
  list-style: none;
}
.footer__links__link {
  padding: 5px 0;
}

.footer__links li a {
  margin-left: 10px;
  color: #dd3e18;
  font-size: 16px;
  text-decoration: none;
}
.footer__links li a:hover {
  color: #ffffff;
}

  @media screen and (max-width: 1024px) {
  .footer {
    padding: 100px 30px; } }
@media screen and (max-width: 768px) {
  .footer {
    padding: 100px 30px; }
    .footer__description {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      padding-right: 50px; }
    .footer__links {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      margin: 0;
      justify-self: center; } }
@media screen and (max-width: 375px) {
  .footer {
    padding: 50px 15px; }
    .footer__title {
      padding-bottom: 0; }
    .footer__description {
      grid-column: 1 / -1;
      grid-row: 3 / 4; }
    .footer__links {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      justify-self: start; } }
